docs/xml/signconf.rnc

# $Id$

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start =
	element signconf {
		attribute zone { xsd:string },

		element adapters {
			element input { adapter },
			element output { adapter }
		},

		element signatures {
			element reSign { xsd:duration },
			element refresh { xsd:duration },
			element validity {
				element default { xsd:duration },
				element denial { xsd:duration }
			},
			element jitter { xsd:duration },
			element clockskew { xsd:duration },

			ttl,

			element ksk {
				keyid,
				empty
			}+,

			element zsk {
				keyid,
				empty
			}+
		},

		element publish {
			keyid,
			empty
		}+,

		element keystore {
			ttl,
			element key {
				attribute id { xsd:positiveInteger },
				element flags { xsd:positiveInteger },
				algorithm,
				element locator { xsd:string }
			}+
		},

		element denial {
			ttl,
			(nsec | nsec3)
		},
		
		soa
	}

adapter =
	attribute type { xsd:string },
	empty

keyid = attribute keyid { xsd:positiveInteger}

algorithm = element algorithm { xsd:positiveInteger }

ttl = element ttl { xsd:duration }

soa = element soa {
		ttl,
		element min { xsd:duration }
	}

nsec = element nsec { empty }

nsec3 = element nsec3 {
		element optOut { empty }?,
		element hash {
			algorithm,
			element iterations { xsd:positiveInteger },
			element salt { xsd:string }
		}
	}
