docs/xml/zonelist.rnc

# $Id$

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = element ZoneList {
	element Zone {
		attribute name { xsd:string },

		element Policy { xsd:string },
		element SignerConfiguration { xsd:string },
		
		element Adapters {
			element Input { adapter },
			element Output { adapter }
		}
	}*
}

adapter = element File { xsd:string }
